$darkgray: rgb(39, 44, 49);
$black40: rgba(0,0,0,0.4);
$yellow:rgb(255, 251, 0);
$red:rgb(230, 27, 27);
$green:rgb(33, 146, 93);

@mixin margenes($top,$botom) {
    margin-top: $top;
    margin-bottom: $botom;
}

.jumbotron {
    background-color: $darkgray;
    color: white;
    @include margenes(55px, 0);
    border-radius: 0;
    hr {
        border-top: 0.5px solid #fff;
    }
}

.fondo {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-negro {
    background-color: $black40;
}

.footer {
    padding: 10px;
    background-color: $green;
    color: white;
    @include margenes(10px, 0);
    a{
        color: #fff;
    }
}

.card-hotel {
    flex: 1 220px;
}

.btn {
    border-radius: 0px;
}
.card {
    margin: 5px;
}

footer .oi-home,
footer .oi-phone,
footer .oi-inbox {
    padding-right: 10px;
}
