.jumbotron {
  background-color: #272c31;
  color: white;
  margin-top: 55px;
  margin-bottom: 0;
  border-radius: 0; }
  .jumbotron hr {
    border-top: 0.5px solid #fff; }

.fondo {
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center center; }

.fondo-negro {
  background-color: rgba(0, 0, 0, 0.4); }

.footer {
  padding: 10px;
  background-color: #21925d;
  color: white;
  margin-top: 10px;
  margin-bottom: 0; }
  .footer a {
    color: #fff; }

.card-hotel {
  flex: 1 220px; }

.btn {
  border-radius: 0px; }

.card {
  margin: 5px; }

footer .oi-home,
footer .oi-phone,
footer .oi-inbox {
  padding-right: 10px; }
